
        body {
            margin: 20px;
            background-color: lightgrey;
            color: black;
        }

        .subhead {
            color: #1d6fe0;
            margin-top: 30px;
        }
.sub-title{
     list-style: none;
}
p{
    margin-top: 1px;
    text-align: justify;
}

        #headingtable{
            border-color: white;
        }

        #headtabth{
            border: none;
            font-size: 45px;
            color: #1d6fe0;
        }

        #headtabtd {
            border: none;
            font-size: 28px;
            font-family: "Quicksand"
        }


        strong {
            color: #308ac7;
        }

        #themeButton-style {
            text-align: right;
        }

        #themeButton {
        background-color: black; /* Set your desired button color here */
        color: white; /* Text color */
        border: none; /* Remove border */
        padding: 10px 20px; /* Add some padding */
        border-radius: 10px; /* Optional: add rounded corners */
        width: 100%;
        }

        #themeButton:hover {
        color: white; /* Keep text color white on hover */
        }

      img{
          height: 42px;
          width: 42px;
      }
      a img:active {
          width: 46px;
          height: 46px;
      }
    .social-icons{
        padding-top: 30px;
        display: flex;
        justify-content: center;
        gap: 5px;
    }

    .child{
    align-items: center;
    justify-content: center;
    display: flex;
    height: 45px;
    width: 45px;
    }
.social-link{
     -webkit-tap-highlight-color: transparent;

}